__pycache__/
.vscode
DatasetLarge/
DatasetSmall/
TfNN/
TfNN_largedataset/
TfNN_Models/
TfNN_smalldataset/
ObsoleteCode/
SimpleNN/
Figures_NA/
Figures_ISMA/

MISO_NN.py 
*.csv
*.tex
Data_shift_plus_Linear_models.py
Plot_displacement.py
NN_models_ISMA/changefiles.py
